<div class="brand">
    <span class="brand-mark">PS</span>
    <div>
        <div class="brand-title">PortalScraper</div>
        <div class="brand-subtitle">Blazor Server + EF Core</div>
    </div>
</div>

<nav class="nav-menu">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="nav-link" href="/todos">
        Todos
    </NavLink>
    <NavLink class="nav-link" href="/planning">
        Planning
    </NavLink>
    <NavLink class="nav-link" href="/companies">
        Companies
    </NavLink>
    <NavLink class="nav-link" href="/authority-geocache">
        Authority geocache
    </NavLink>
</nav>
